.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: 1px solid black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  .logoContainer {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    .title {
      font-size: 18px;
      padding: 5px;
    }
  }

  .centerContainer {
    display: flex;
    flex-direction: row;

    .icon {
      padding-left: 7px;
      padding-right: 7px;
      width: 45px;
      height: 45px;
    }
  }

  .walletContainer {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    .wallet {
      font-size: 18px;
      padding: 5px;
    }
  }
}
