.header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 60px;
  left: 0;
  right: 0;

  .logoRow {
    display: flex;
    flex-direction: row;

    .title {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  .centerContainer {
    display: flex;
    flex-direction: row;

    .icon {
      display: block;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      padding: 10px;

      border: 1px solid black;
      margin-right: 15px;

      &:hover {
        cursor: pointer;
      }
    }

    .wallet {
      padding: 10px 20px;
      font-size: 18px;
      border: 1px solid black;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
